<ion-header>
    <ion-toolbar>
        <div class="flexrow">
            <ion-title>
                {{'heatmap.title' | translate}}
            </ion-title>

            <ion-datetime displayFormat="HH:mm DD/MM/YYYY" pickerFormat="DD/MMMM/YYYY HH:mm" minuteValues="0,15,30,45" min="2020" max="2030" placeholder="{{'heatmap.datepicker' | translate}}" (ionChange)="dateSelected($event)">
            </ion-datetime>

        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="map"></div>
</ion-content>