<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'newtrip.title' | translate}}
        </ion-title>
        <ion-button class="header-button" expand="block" routerLink="/newtrip" routerDirection="forward" slot="end" (click)="send_trip()">
            {{'newtrip.next' | translate}}
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!-- Date selector -->
    <ion-item>
        <ion-label>{{'newtrip.start_time' | translate}}</ion-label>
        <ion-datetime displayFormat="HH:mm DD/MM/YYYY" pickerFormat="DD/MMMM/YYYY HH:mm" minuteValues="0,15,30,45" min="2020" max="2030" placeholder="{{'newtrip.datepicker' | translate}}" (ionChange)="dateSelected($event)"></ion-datetime>
    </ion-item>

    <!-- Reason selector -->
    <ion-item>
        <ion-label>{{'newtrip.reason.title' | translate}}</ion-label>
        <ion-select interface="popover" placeholder="{{'newtrip.reason.select' | translate}}" okText="{{'newtrip.ok' | translate}}" cancelText="{{'newtrip.cancel' | translate}}" (ionChange)="reasonSelected($event)">
            <ion-select-option value="0">{{'newtrip.reason.0' | translate}}</ion-select-option>
            <ion-select-option value="1">{{'newtrip.reason.1' | translate}}</ion-select-option>
            <ion-select-option value="2">{{'newtrip.reason.2' | translate}}</ion-select-option>
            <ion-select-option value="3">{{'newtrip.reason.3' | translate}}</ion-select-option>
            <ion-select-option value="4">{{'newtrip.reason.4' | translate}}</ion-select-option>
            <ion-select-option value="5">{{'newtrip.reason.5' | translate}}</ion-select-option>
        </ion-select>
    </ion-item>
    
    <!-- speed selector -->
    <ion-item style="flex-direction: column; align-items: stretch;">
        <ion-label>{{'newtrip.activity' | translate}}</ion-label>
        <ion-grid id="grid_newtrip">
            <ion-row>
                <ion-col [ngStyle]="speed.walk" (click)="change_speed('walk')">
                    <div style="text-align: center;">
                        <ion-icon src="/assets/walk.svg" slot="start" size="large"></ion-icon>
                    </div>
                </ion-col>
                <ion-col [ngStyle]="speed.run" (click)="change_speed('run')">
                    <div style="text-align: center;">
                        <ion-icon src="/assets/running.svg" slot="start" size="large"></ion-icon>
                    </div>
                </ion-col>
                <ion-col [ngStyle]="speed.bicycle" (click)="change_speed('bicycle')">
                    <div style="text-align: center;">
                        <ion-icon src="/assets/bicycle.svg" slot="start" size="large"></ion-icon>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>

    <!-- Map -->
    <div id="map_trip"></div>
</ion-content>