.flexrow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-button {
    margin-left: auto;
    margin-right: 10px;
}

#header-transport {
    font-size: 18px;
}

#map_trip_container {
    position: relative;
    width: 100%;
    height: 80%;
}

#map_trip {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

canvas {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

#grid_newtrip {
    padding: 0;
}
