<ion-header>
    <ion-toolbar>
        <div class="flexrow">
            <ion-title>
                {{'newtrip.title' | translate}}
            </ion-title>
            <ion-button class="header-button" expand="block" routerLink="/" routerDirection="back">
                {{'newtrip.back' | translate}}
            </ion-button>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div id="map"></div>
    <canvas #pathDrawer (mousedown)="startDrawing($event)" (touchstart)="startDrawing($event)" (touchmove)="moved($event)" (mousemove)="moved($event)" (mouseup)="endDrawing()" (touchend)="endDrawing()"></canvas>

</ion-content>