<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="trips">
            <ion-icon name="triangle"></ion-icon>
            <ion-label>Trips</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="heatmap">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label>Heatmap</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <ion-icon name="square"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>