<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="trips">
            <ion-icon name="triangle"></ion-icon>
            <ion-label>{{'tabs.trips' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="heatmap">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label>{{'tabs.heatmap' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <ion-icon name="square"></ion-icon>
            <ion-label>{{'tabs.profile' | translate}}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>