<ion-header [translucent]="true">
    <ion-toolbar>
        <div class="flexrow">
            <ion-title>
                {{'trips.title' | translate}}
            </ion-title>

            <ion-button class="header-button" expand="block" routerLink="/newtrip" routerDirection="forward">
                {{'trips.add_trip' | translate}}
            </ion-button>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!--<div class="tripitem" *ngFor="let item of (triplist)">
        <app-tripitem [tripiteminfo]="item">
        </app-tripitem>
    </div>-->
</ion-content>