<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'viewtrip.title' | translate}}
        </ion-title>
        <ion-button class="header-button" expand="block" routerDirection="backward" slot="end" (click)="alertDelete()">
            {{'viewtrip.delete' | translate}}
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Map -->
    <div id="map_trip"></div>
</ion-content>