.flexrow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ion-toolbar {
    --background: rgb(131, 179, 138);
}

ion-back-button {
    color: white;
}

ion-title {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.header-button {
    margin-left: auto;
    margin-right: 10px;
    font-weight: bold;
}

#header-transport {
    font-size: 18px;
}

#map_trip {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 1;
}

#grid_newtrip {
    padding: 0;
}