<ion-header>
  <ion-toolbar>
    <ion-title>Inici de sessió</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h4>Benvingut a Safewalks!</h4>
        </div>
        <br/>
        <div padding>
          <form #form="ngForm">
          <ion-item>
            <ion-input type="text" placeholder="DNI" name="dni" [(ngModel)]="credentials.dni" validNIF></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="credentials.pw" required></ion-input>
          </ion-item>
        </form>
        </div>
        <br/><br/>
        <div padding>
          <ion-button size="large" (click)="login()" expand="block">Login</ion-button>
          <ion-button color="secondary" routerLink="/register" routerDirection="forward" expand="block">Register</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
