<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>{{'terms.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row class="flexrow" justify-content-center>
          <ion-col class="col-center" align-self-center size-md="6" size-lg="5" size-xs="12">
              <div text-center>
                  <h4>{{'terms.subtitle' | translate}}</h4>
              </div>
              <br/>
              <div padding style="text-align:justify">
                Lyra Innovation garanteix el dret a la protecció de les dades personals que es faciliten a través d’aquesta aplicació en el termes establerts per la Llei orgànica 3/2018, de 5 de desembre, de Protecció de Dades Personals i garanties digitals i pel Reglament (UE) 2016/679, del Parlament Europeu i del Consell relatiu a la protecció de les persones físiques pel que fa al tractament de dades personals i a la lliure circulació d’aquestes dades, implementant les mesures de seguretat necessàries i adequades al tipus de dades personals.
                <br/><br/>
                Les dades que es requereixin seran les estrictament necessàries, adequades i pertinents per a la finalitat per a la qual es recullin i seran sotmeses a un tractament automatitzat.
                <br/><br/>
                Tanmateix, si voleu exercir els drets d'accés, rectificació, supressió, oposició i limitació del tractament sobre alguna de les vostres dades personals, us podeu adreçar al correu electronic gestio@lyrainnovation.com.
              </div>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>