<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/register"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'terms.title' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="flexrow" justify-content-center>
            <ion-col class="col-center" align-self-center size-md="6" size-lg="5" size-xs="12">
                <div text-center>
                    <h4>Privacitat: política de protecció de dades de caràcter personal</h4>
                </div>
                <br/>
                <div padding style="text-align:justify">
                    Lyra Innovation garanteix el dret a la protecció de les dades personals que es faciliten a través d’aquesta aplicació en el termes establerts per la Llei orgànica 3/2018, de 5 de desembre, de Protecció de Dades Personals i garanties digitals i pel Reglament
                    (UE) 2016/679, del Parlament Europeu i del Consell relatiu a la protecció de les persones físiques pel que fa al tractament de dades personals i a la lliure circulació d’aquestes dades, implementant les mesures de seguretat necessàries
                    i adequades al tipus de dades personals.
                    <br/><br/> Les dades que es requereixin seran les estrictament necessàries, adequades i pertinents per a la finalitat per a la qual es recullin i seran sotmeses a un tractament automatitzat.
                    <br/><br/> A més s'informa de que les dades personals que es guarden, s'emagatzemen indefinidament i encriptades, de forma que Lyra Innovation no en pot fer cap ús.
                    <br/><br/> Tanmateix, si voleu exercir els drets d'accés, rectificació, supressió, oposició i limitació del tractament sobre alguna de les vostres dades personals, us podeu adreçar al correu electronic gestio@lyrainnovation.com.
                    <br/><br/> Per últim informar que l'App utilitza un sistema de xifrat de les dades personals, que fa que només amb la vostra contrasenya es pugui accedir a les dades.
                </div>
                <br/><br/>
                <div text-center>
                    <h4>Política de galetes</h4>
                </div>
                <br/>
                <div padding style="text-align:justify">
                    Navegar per aquest web/app amb les galetes activades al navegador comporta de manera imprescindible l’acceptació de l’ús d’aquestes conforme la política present. Si no accepteu l’ús de les galetes, la web/app no pot funcionar.
                    <br/><br/>
                    <b>Què són les galetes:</b> Les galetes són fitxers que es descarreguen al vostre dispositiu en accedir a determinades pàgines web i permeten a la pàgina web, entre d’altres coses, emmagatzemar i recuperar informació sobre els hàbits
                    de navegació d’una persona usuària o del seu equip i, depenent de la informació que continguin i de la forma que què utilitzi el seu equip, poden utilitzar-se per reconèixer l’usuari.
                    <br/><br/>
                    <b>Quin ús en fa a Desconfinapp?:</b> En el nostre cas, les galetes s'utilitzen per mantenir la sessio iniciada i per el correcte funcionament del mòdul d'idiomes. No en fem servir per fer cap mena de seguiment ni anàlisi de l'usuari.
                    <br/><br/>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>