<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h4>Registre d'usuari</h4>
        </div>
        <br/>
        <div padding>
          <ion-item>
            <ion-input type="text" placeholder="DNI" name="dni" [(ngModel)]="user_data.dni"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="Name" name="name" [(ngModel)]="user_data.name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="First surname" name="surname1" [(ngModel)]="user_data.surname1"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="Second surname" name="surname2" [(ngModel)]="user_data.surname2"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="user_data.email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="City" name="city" [(ngModel)]="user_data.city"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="user_data.pw"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="Repeat password" name="password2" [(ngModel)]="user_data.pw2"></ion-input>
          </ion-item>
        </div>
        <br/><br/>
        <div padding>
          <ion-button size="large" (click)="register()" expand="block">Register</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
