ion-toolbar {
    --background: rgb(131, 179, 138);
}

ion-title {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.flexrow {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
